Kadr.PVOnlineWorks/Service References/srUni/Asbt.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Asbt.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Asbt.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOutResponce">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutResponce" nillable="true" type="tns:OutResponce" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutResponce" nillable="true" type="tns:ArrayOfOutResponce" />
  <xs:complexType name="OutResponce">
    <xs:sequence>
      <xs:element name="pId" type="xs:int" />
      <xs:element name="pFile" nillable="true" type="xs:base64Binary" />
      <xs:element name="pPath" nillable="true" type="xs:string" />
      <xs:element name="pDivtype" nillable="true" type="xs:string" />
      <xs:element name="pFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutResponce" nillable="true" type="tns:OutResponce" />
</xs:schema>