Kadr.PVOnlineWorks/Service References/srUni/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Asbt.Services" />
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_SignedValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Cert" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="p_Divtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoginResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_inParams" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="p_ProcName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableProcedureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableWithPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_inParams" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="p_ProcName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromRec" type="xs:int" />
        <xs:element minOccurs="0" name="ToRec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableWithPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableWithPagesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Ln" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReferenceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_inParams" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="p_ProcName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataSetProcedureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtoBufData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_inParams" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="p_ProcName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtoBufDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProtoBufDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CitizenId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MailService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MailServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MailServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableSignedResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDicoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inScn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inDivType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inDivision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDicoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDicoUpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoRPCWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoRPCWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoRPCWorkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_inVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_inDivision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_inCompName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Asbt.Services" minOccurs="0" name="GetUpdatesResult" nillable="true" type="q5:ArrayOfOutResponce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>