Kadr.PVOnlineWorks/Service References/srUni/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="epTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Asbt.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IwcService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableProcedure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableProcedure" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableProcedure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableProcedureResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableWithPages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableWithPages" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableWithPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableWithPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetReference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReference" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataSetProcedure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetProcedure" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataSetProcedure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetProcedureResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetProtoBufData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProtoBufData" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetProtoBufData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProtoBufDataResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetServerTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerTime" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetServerTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoto" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_MailService_InputMessage">
    <wsdl:part name="parameters" element="tns:MailService" />
  </wsdl:message>
  <wsdl:message name="IwcService_MailService_OutputMessage">
    <wsdl:part name="parameters" element="tns:MailServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableSigned_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableSigned" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDataTableSigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableSignedResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDicoUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDicoUpdate" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetDicoUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDicoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_DoRPCWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoRPCWork" />
  </wsdl:message>
  <wsdl:message name="IwcService_DoRPCWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoRPCWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdates" />
  </wsdl:message>
  <wsdl:message name="IwcService_GetUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcService">
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/CheckLogin" message="tns:IwcService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/CheckLoginResponse" message="tns:IwcService_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTableProcedure">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetDataTableProcedure" message="tns:IwcService_GetDataTableProcedure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetDataTableProcedureResponse" message="tns:IwcService_GetDataTableProcedure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTableWithPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetDataTableWithPages" message="tns:IwcService_GetDataTableWithPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetDataTableWithPagesResponse" message="tns:IwcService_GetDataTableWithPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetReference" message="tns:IwcService_GetReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetReferenceResponse" message="tns:IwcService_GetReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetProcedure">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetDataSetProcedure" message="tns:IwcService_GetDataSetProcedure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetDataSetProcedureResponse" message="tns:IwcService_GetDataSetProcedure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProtoBufData">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetProtoBufData" message="tns:IwcService_GetProtoBufData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetProtoBufDataResponse" message="tns:IwcService_GetProtoBufData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetServerTime" message="tns:IwcService_GetServerTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetServerTimeResponse" message="tns:IwcService_GetServerTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetPhoto" message="tns:IwcService_GetPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetPhotoResponse" message="tns:IwcService_GetPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MailService">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/MailService" message="tns:IwcService_MailService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/MailServiceResponse" message="tns:IwcService_MailService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTableSigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetDataTableSigned" message="tns:IwcService_GetDataTableSigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetDataTableSignedResponse" message="tns:IwcService_GetDataTableSigned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDicoUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetDicoUpdate" message="tns:IwcService_GetDicoUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetDicoUpdateResponse" message="tns:IwcService_GetDicoUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoRPCWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/DoRPCWork" message="tns:IwcService_DoRPCWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/DoRPCWorkResponse" message="tns:IwcService_DoRPCWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcService/GetUpdates" message="tns:IwcService_GetUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcService/GetUpdatesResponse" message="tns:IwcService_GetUpdates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="epTcp" type="tns:IwcService">
    <wsp:PolicyReference URI="#epTcp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/IwcService/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTableProcedure">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetDataTableProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTableWithPages">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetDataTableWithPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReference">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetProcedure">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetDataSetProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtoBufData">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetProtoBufData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetServerTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailService">
      <soap12:operation soapAction="http://tempuri.org/IwcService/MailService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTableSigned">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetDataTableSigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDicoUpdate">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetDicoUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRPCWork">
      <soap12:operation soapAction="http://tempuri.org/IwcService/DoRPCWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <soap12:operation soapAction="http://tempuri.org/IwcService/GetUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcService">
    <wsdl:port name="epTcp" binding="tns:epTcp">
      <soap12:address location="net.tcp://localhost:39900/wsUni" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:39900/wsUni</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>