Kadr.RFileClient/Service References/srvFileClient/Asbt.FileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Asbt.FileService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Asbt.FileService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStorageFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageFileInfo" nillable="true" type="tns:ArrayOfStorageFileInfo" />
  <xs:complexType name="StorageFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRC32" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDirectory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
</xs:schema>