Kadr.RFileClient/Service References/srvFileClient/Asbt.DataModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Asbt.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Asbt.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTbDivClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbDivClass" nillable="true" type="tns:TbDivClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbDivClass" nillable="true" type="tns:ArrayOfTbDivClass" />
  <xs:complexType name="TbDivClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="SpId" type="xs:int" />
      <xs:element minOccurs="0" name="SpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpObl" type="xs:int" />
      <xs:element minOccurs="0" name="SpType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TbDivClass" nillable="true" type="tns:TbDivClass" />
</xs:schema>