Kadr.RFileClient/Service References/srvFileClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="epTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Asbt.FileService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Asbt.DataModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="ToDir" element="tns:ToDir" />
  </wsdl:message>
  <wsdl:message name="RemoteFileCrc32">
    <wsdl:part name="parameters" element="tns:RemoteFileCrc32" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_Del_OutputMessage" />
  <wsdl:message name="IFileTransferService_ReName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReName" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_ReName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_CRC32_InputMessage">
    <wsdl:part name="parameters" element="tns:CRC32" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_CRC32_OutputMessage">
    <wsdl:part name="parameters" element="tns:CRC32Response" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_UpdateFilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilesList" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_UpdateFilesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilesListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_GetDriveInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfo" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_GetDriveInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransferService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/Get" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/GetResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/Put" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/PutResponse" name="RemoteFileCrc32" message="tns:RemoteFileCrc32" />
    </wsdl:operation>
    <wsdl:operation name="Del">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/Del" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/DelResponse" message="tns:IFileTransferService_Del_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/ReName" message="tns:IFileTransferService_ReName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/ReNameResponse" message="tns:IFileTransferService_ReName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/List" message="tns:IFileTransferService_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/ListResponse" message="tns:IFileTransferService_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CRC32">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/CRC32" message="tns:IFileTransferService_CRC32_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/CRC32Response" message="tns:IFileTransferService_CRC32_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UpdateFilesList" message="tns:IFileTransferService_UpdateFilesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/UpdateFilesListResponse" message="tns:IFileTransferService_UpdateFilesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriveInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/GetDriveInfo" message="tns:IFileTransferService_GetDriveInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/GetDriveInfoResponse" message="tns:IFileTransferService_GetDriveInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="epTcp" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#epTcp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/Get" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="ToDir" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/Put" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap12:header message="tns:RemoteFileInfo_Headers" part="ToDir" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileCrc32">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/Del" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReName">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/ReName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CRC32">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/CRC32" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFilesList">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/UpdateFilesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriveInfo">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/GetDriveInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferService">
    <wsdl:port name="epTcp" binding="tns:epTcp">
      <soap12:address location="net.tcp://localhost:45000/FileService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45000/FileService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>