Kadr.RFileClient/Service References/srvFileClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Asbt.FileService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Asbt.DataModels" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="ToDir" nillable="true" type="xs:string" />
  <xs:element name="RemoteFileCrc32">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Crc32" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OldFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Asbt.FileService" minOccurs="0" name="ListResult" nillable="true" type="q2:ArrayOfStorageFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRC32">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRC32Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRC32Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Asbt.FileService" minOccurs="0" name="UpdateFilesListResult" nillable="true" type="q3:ArrayOfStorageFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Asbt.DataModels" minOccurs="0" name="GetDriveInfoResult" nillable="true" type="q4:ArrayOfTbDivClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>